<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <title>SimpleCov - RCov style</title>
  </head>
  <body>
    <h1>SimpleCov - RCov style</h1>
    
    <div class="report_table_wrapper">
      <table class='report' id='report_table'>
        <thead>
          <tr>
            <th class="left_align">Name</th>
            <th class="right_align">Total Lines</th>
            <th class="right_align">Lines of Code</th>
            <th class="left_align">Total Coverage</th>
            <th class="left_align">Code Coverage</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td class="left_align">TOTAL</td>
            <td class='right_align'><tt><%= @total_lines %></tt></td>
            <td class='right_align'><tt><%= @total_lines_code %></tt></td>
            <td class="left_align"><tt class=''><%= '%.2f' % @total_coverage %>%</tt></td>
            <td class="left_align"><tt class='coverage_total'><%= '%.2f' % @total_coverage %>%</tt></td>
          </tr>
        </tfoot>
        <tbody>
          <% @files.each do |file| %>
            <tr class="all_files">
              <td class="left_align"><a href="#<%= file.filename.gsub(SimpleCov.root, '.') %>"><%= file.filename.gsub(SimpleCov.root, '.') %></a></td>
              <td class='right_align'><tt><%= file.lines.count %></tt></td>
              <td class='right_align'><tt><%= file.covered_lines.count + file.missed_lines.count %></tt></td>
              <td class="left_align"><tt class=''><%= '%.2f' % file.covered_percent %>%</tt></td>
              <td class="left_align"><tt class=''><%= '%.2f' % file.covered_percent %>%</tt></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </body>
</html>
